<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="IP">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.276051261736925 0.432193708383381 0.27038620021704"
        rpy="0 0 0" />
      <mass
        value="1" />
      <inertia
        ixx="0.00145187499581721"
        ixy="0"
        ixz="0"
        iyy="0.0471628558235385"
        iyz="0"
        izz="0.0471628558235385" />
    </inertial>
    <visual>
      <color rgb="1.0 1.0 1.0" opacity="1.0"/>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://IP/meshes/base_link.STL" />
      </geometry>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://IP/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="car">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="1" />
      <inertia
        ixx="1.667E-3"
        ixy="0"
        ixz="0"
        iyy="1.667E-3"
        iyz="0"
        izz="1.667E-3" />
    </inertial>
    <visual>
    <color rgb="1.0 1.0 0.0" opacity="1.0"/>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://IP/meshes/link1.STL" />
      </geometry>
    </visual>
  </link>
   <link name="rod">
    <inertial>
      <origin
        xyz="0 0.25 0"
        rpy="0 0 0" />
      <mass
        value="1" />
      <inertia
        ixx="0.0208333"
        ixy="0"
        ixz="0"
        iyy="0.000"
        iyz="0"
        izz="0.0208333" />
    </inertial>
    <visual>
    <color rgb="0.0 1.0 1.0" opacity="1.0"/>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
      <scale value="1"/>
        <mesh
          filename="package://IP/meshes/rod.STL" />
      </geometry>
    </visual>
  </link>
  <joint
    name="joint1"
    type="prismatic">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="car" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.0"
      upper="1.0"
      effort="0"
      velocity="0" />
  </joint>
    <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0 0 0.0625"
      rpy="0 0 0" />
    <parent
      link="car" />
    <child
      link="rod" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-10.0"
      upper="10.0"
      effort="0"
      velocity="0" />
  </joint>
  
</robot>