<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="mass-model">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.276051261736925 0.432193708383381 0.27038620021704"
        rpy="0 0 0" />
      <mass
        value="1" />
      <inertia
        ixx="0.00145187499581721"
        ixy="-2.93273770874453E-33"
        ixz="1.27857217352493E-37"
        iyy="0.0471628558235385"
        iyz="-6.13222835284301E-20"
        izz="0.0471628558235385" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mass-model/meshes/base_link.STL" />
      </geometry>
     
    </visual>
  </link>
  <link
    name="mass">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="1" />
      <inertia
        ixx="1.6667E-3"
        ixy="0"
        ixz="0"
        iyy="1.6667E-3"
        iyz="0"
        izz="1.6667E-3" />
    </inertial>
    <visual>
      <color rgb="1 1 0"  opacity="1"/>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://mass-model/meshes/link1.STL" />
      </geometry>
    </visual>
  </link>
  <joint
    name="joint1"
    type="prismatic">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="mass" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.0"
      upper="1.0"
      effort="0"
      velocity="0" />
  </joint>
</robot>