<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="two">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="1.985E-19 0 -1.9972E-18"
        rpy="0 0 0" />
      <mass
        value="0.42412" />
      <inertia
        ixx="0.00063352"
        ixy="4.92E-37"
        ixz="-8.4069E-38"
        iyy="0.00063352"
        iyz="-4.2045E-36"
        izz="0.00033399" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://two_link/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://two_link/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="0 0.3 0"
        rpy="0 0 0" />
      <mass
        value="3" />
      <inertia
        ixx="0.09"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0.09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://two_link/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://two_link/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1415926"
      upper="3.1415926"
      effort="0"
      velocity="0" />
    <dynamics
      damping="0.5" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="0 0.3 0"
        rpy="0 0 0" />
      <mass
        value="3" />
      <inertia
        ixx="0.09"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0.09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://two_link/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://two_link/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0 0.6 0"
      rpy="0 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1415926"
      upper="3.1415926"
      effort="0"
      velocity="0" />
    <dynamics
      damping="0.5" />
  </joint>
  <joint
    name="FlangeJoint"
    type="fixed">
    <origin
      xyz="0 0.6 0"
      rpy="0 0 0" />
    <parent
      link="link2" />
    <child
      link="flange" />
  </joint>
  <link name="flange"/>
</robot>